@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2em;
}

.search-container input{
    width: 500px;
    padding:1.2em;
    border-radius: 1.5em 0em 0em 1.5em;
    border:none;
}

.search-container button{
    padding:1.2em;
    border-radius: 0em 1.5em 1.5em 0em; 
}

.artistname{
    font-size: 3.2rem;
    text-decoration: none;
    color: black;
}

.artistgenre{
    margin-top:2em;
    color:white;
}   

.albumcontainer{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:2em 0em
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}